<div class="pagination">
  {% capture category_name %}{{ page.categories | first }}{% endcapture %}
  {% for post in site.categories.[category_name] %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in site.categories.[category_name] %}
    {% if post_index0 == forloop.index %}{% assign next_post = post %}{% endif %}
    {% if post_index1 == forloop.index0 %}{% assign prev_post = post %}{% endif %}
  {% endfor %}
  {% if prev_post %}<div class="left"><a class="prev" href="{{ site.url }}{{ prev_post.url }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> 前一篇：{{ prev_post.title }}</a></div>{% endif %}
  {% if next_post %}<div class="right"><a class="next" href="{{ site.url }}{{ next_post.url }}">{{ next_post.title }} ：后一篇 <i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>{% endif %}
</div>
<br><br>